.card {
  background: white;
  border-radius: 10px;
  padding: 24px 52px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 10px 22px rgba(17, 24, 39, 0.06);
}

.left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: #0b2cff;
}

.button {
  background: #0b2cff;
  color: white;

  border: none;
  border-radius: 10px;

  padding: 16px 40px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}